* {
    padding: 0;
    margin: 0;
}
body {
    font-family:
    "cambria", sans-serif;
}

.container {
    height: 100vh;
    display: flex;
}
section {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex:1;
}
section h1 {
    background: rgba(0,0,0,0.6);
    color: white;
    padding: 12px 32px;
}
.aboutme {
    background-color: tomato;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}

.aboutme {
    background-color: tomato;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}