* {
    padding: 0;
    margin: 0;
}
body {
    font-family:
    "cambria", sans-serif;
}

.container {
    height: 100vh;
    display: flex;
}
section {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex:1;
}
