
* {
    box-sizing: border-box;
}
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
}
header {
    background-color: #FF4500;
    padding: 30px;
    text-align: left;
    font-size: 35px;
    color: white;
    border: 1px solid blue;
}
#leftbox {
    float: left;
    width: 50%;
    height: 600px;
    background: #ccc;
    padding: 20px;
    border: 1px solid blue;
}
#rightbox {
    float: left;
    padding: 20px;
    width: 50%;
    background-color: powderblue;
    height: 600px;
    border: 1px solid blue;
}
#middlebox {
    float: left;
    padding: 20px;
    width: 50%;
    background-color: yellow;
    height: 600px;
    border: 1px solid blue;
}
#belowbox {
    float: left;
    padding: 20px;
    width: 50%;
    background-color: #9ACD32;
    height: 600px;
    border: 1px solid blue;
}
#address {
    float: left;
    padding: 20px;
    width: 100%;
    background-color: #F4A460 ;
    height: 300px;
    border: 1px solid blue;
}
section::after {
    content:"";
    display: table;
    clear: both;
}

#xfooter {
    background-color: #777;
    padding: 10px;
    text-align: middle;
    color: tomato;
    width: 100%;
    border: 1px solid blue;
}
.modal-header
 {
     padding:9px 15px;
     border-bottom:1px solid #eee;
     background-color: #084969;
 }
 .modal-header .close{margin-top:2px}
 .modal-header h3{margin:0;line-height:30px;
}
.modal-body {
    background-color: orange;
}
.modal-footer {
    background-color: slateblue;
}

#isubmit {
    border: 1px white;
}
p {
    color: black;
}
h4, h6 {
    color: black;
}





























/*/* {
    padding: 0;
    margin: 0;
}
body {
    font-family:
    "cambria", sans-serif;
}

.container {
    height: 100vh;
    display: flex;
}
section {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex:1;
}
section h1 {
    background: rgba(0,0,0,0.6);
    color: white;
    padding: 12px 32px;
}
section:hover {
    flex:2;
}
.aboutme {
    background-color: tomato;
    background-position: left;
    background-size: cover;
    background-blend-mode: multiply;
}

.designer {
    background-color: yellow;
    background-position: left;
    background-size: cover;
    background-blend-mode: multiply;
}
.three {
    background-color: blue;
    background-position: left;
    background-size: cover;
    background-blend-mode: multiply;
}//